body, html {
    height: 100%;
}
main { 
    width: 1200px;
    height: 650px;
    margin: auto;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    height: 50px;
    width: 1200px;
    text-align: center;
    border: solid 1px;
}
.navigation {
    padding-top: 14px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 30px;
    text-align: center;
    border: solid 1px;
}
.wrapper {
    display: flex;
    width: 1200px;
    height: 555px;
    border: solid 1px;
}
.feature {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 900px;
    border: solid 1px;
}
.news {
    height: 277px;
    border: solid 1px;
}
.advertisment {
    height: 278px;
    border: solid 1px;
}
.fluff {
    width: 300px;
}
